<canvas class="my-4" id="myChart" width="900" height="380"></canvas>
{% extends "base.html" %}



{% block title %} Отчет {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="d-flex pb-2 mb-3 border-bottom">
                    <h1 class="h2">Dashboard</h1>
                </div>

                <canvas class="my-4" id="report_hourly" width="900" height="380"></canvas>
                <canvas class="my-4" id="report_weekly" width="900" height="380"></canvas>

            </main>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
        var ctx_hourly = document.getElementById("report_hourly");
        var report_hourly = new Chart(ctx_hourly, {
            type: 'line',
            data: {
                labels: [
                    '0', '1', '2', '3', '4', '5', '6',
                    '7', '8', '9', '10', '11', '12', '13',
                    '14', '15', '16', '17', '18', '19', '20',
                    '21', '22', '23',
                ],
                datasets: [{
                    data: {{ object.hourly }},
                    lineTension: 0,
                    backgroundColor: 'transparent',
                    borderColor: '#007bff',
                    borderWidth: 4,
                    pointBackgroundColor: '#007bff'
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false
                        }
                    }]
                },
                legend: {
                    display: false,
                }
            }
        });

        var ctx_weekly = document.getElementById("report_weekly");
        var report_weekly = new Chart(ctx_weekly, {
            type: 'line',
            data: {
                labels: ["Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота", "Воскресенье"],
                datasets: [{
                    data: {{ object.weekly }},
                    lineTension: 0,
                    backgroundColor: 'transparent',
                    borderColor: '#007bff',
                    borderWidth: 4,
                    pointBackgroundColor: '#007bff'
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false
                        }
                    }]
                },
                legend: {
                    display: false,
                }
            }
        });
    </script>
{% endblock %}


